index:(element="j-notebook")
  #notebook_panel
    #notebook
      #notebook-container.container
        each cells as #cell
          j-cell(
            cell='{{#cell}}'
            currentCell='{{currentCell}}'
            userId='{{userId}}'
          )
      .end_space
