index:(element="j-toolbar")
  #maintoolbar.navbar
    .toolbar-inner.navbar-inner.navbar-nobg
      #maintoolbar-container.container.toolbar
        #insert_above_below.btn-group
          button.btn.btn-default(on-click="insertCell currentCell")
            i.fa.fa-plus

        #run_int.btn-group
          button.btn.btn-default(on-click="runCell currentCell")
            i.fa-play.fa

        #move_up_down.btn-group
          button.btn.btn-default(on-click="moveCellUp currentCell")
            i.fa.fa-arrow-up
          button.btn.btn-default(on-click="moveCellDown currentCell")
            i.fa.fa-arrow-down
