index:(element="j-toolbar", arrays="notebook/content/content/cells")
  #maintoolbar.navbar
    .toolbar-inner.navbar-inner.navbar-nobg
      #maintoolbar-container.container.toolbar
        #insert_above_below.btn-group
          button.btn.btn-default(on-click="insertCell()")
            i.fa.fa-plus
