index:(element="j-menubar")
  #notebook_panel
    #notebook
      #notebook-container.container
        each notebook.content.content.cells as #cell
          j-cell(cell='{{#cell}}')
      .end_space
