index:(element="j-header")
  #header(style='display: block;')
    #header-container.container
      #ipython_notebook.nav.navbar-brand.pull-left
        a(href='/tree', title='dashboard')
          img(src='/static/base/images/logo.png'
            alt='Jupyter Notebook')

      span#save_widget.pull-left.save_widget
        span#notebook_name.filename {{notebook.name}}

    .header-bar
        
    #menubar-container.container
      #menubar
        #menus.navbar.navbar-default
          .container-fluid
            j-kernel(kernel='{{notebook.session.kernel}}')
      j-toolbar(
        currentCell='{{currentCell}}'
        cells='{{cells}}'
      )

    .lower-header-bar
