index:(element="j-cell")
  .cell(class="{{classes cell, userCell, currentCell}}", on-click="select()")
    .input
      .prompt.input_prompt
      .inner_cell
        .input_area
          j-editor(value="{{cell.source}}")
    .widget-area
    .output
