index:(element="j-cell")
  .cell(
    class="{{if currentCell == cell.id}}selected{{/}}"
    on-click="selectCell cell.id"
  )
    .input
      .prompt.input_prompt
        label.label.label-default(style="background-color: #{{color cell.id}}")
          | {{color cell.id}}
      .inner_cell
        .input_area
          j-editor(value='{{cell.source}}')
    .widget-area
    .output
    
